apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
      - name: log-output-volume
        persistentVolumeClaim:
          claimName: log-output-claim
      containers:
        - name: log-output-reader
          image: adamfarhadi/dwk-log-output-reader:1.11
          imagePullPolicy: Always
          env:
          - name: PORT
            value: "3001"
          volumeMounts:
          - name: log-output-volume
            mountPath: /usr/src/app/files
        - name: log-output-writer
          image: adamfarhadi/dwk-log-output-writer:1.11
          imagePullPolicy: Always
          env:
          - name: PORT
            value: "3001"
          volumeMounts:
          - name: log-output-volume
            mountPath: /usr/src/app/files