apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
      - name: log-output-volume
        persistentVolumeClaim:
          claimName: log-output-claim
      containers:
        - name: ping-pong
          image: adamfarhadi/dwk-ping-pong:1.11
          imagePullPolicy: Always
          env:
          - name: PORT
            value: "3001"
          volumeMounts:
          - name: log-output-volume
            mountPath: /usr/src/app/files