apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
      - name: todo-app-volume
        persistentVolumeClaim:
          claimName: todo-app-pvc
      containers:
        - name: todo-app
          image: todo-app
          imagePullPolicy: Always
          env:
          - name: PORT
            value: "3001"
          - name: IMAGE_URL
            value: "https://picsum.photos/400"
          - name: IMAGE_FILE_PATH
            value: "/usr/src/app/files/image.jpg"
          volumeMounts:
          - name: todo-app-volume
            mountPath: /usr/src/app/files
          resources:
            requests:
              memory: "64Mi"
              cpu: "200m"
            limits:
              memory: "128Mi"
              cpu: "400m"
