apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
      - name: todo-app-volume
        persistentVolumeClaim:
          claimName: todo-app-claim
      containers:
        - name: todo-app-server
          image: adamfarhadi/dwk-todo-app:2.10
          imagePullPolicy: Always
          env:
          - name: PORT
            value: "3001"
          - name: IMAGE_URL
            value: "https://picsum.photos/400"
          - name: IMAGE_FILE_PATH
            value: "/usr/src/app/files/image.jpg"
          volumeMounts:
          - name: todo-app-volume
            mountPath: /usr/src/app/files