apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-app-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app-backend
  template:
    metadata:
      labels:
        app: todo-app-backend
    spec:
      containers:
        - name: todo-app-backend
          image: adamfarhadi/dwk-todo-app-backend:3.5
          imagePullPolicy: Always
          env:
          - name: PORT
            value: "3000"
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: todo-app-postgres-connection-secret
                key: DATABASE_URL