name: Build and publish log output

on:
  push:
    branches:
      - main
    paths:
      - 'log-output/**'
  workflow_dispatch:
    
env:
  DOCKER_HUB_USERNAME: adamfarhadi
  LOG_OUTPUT_IMAGE: dwk-log-output
  PING_PONG_IMAGE: dwk-ping-pong

jobs:
  build-publish:
    name: Build and publish log output
    runs-on: ubuntu-latest
    environment:
      name: log-output-prod

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name : 'Form log-output image name'
        run: |
          echo "LOG_OUTPUT_IMAGE_TAG=$DOCKER_HUB_USERNAME/$LOG_OUTPUT_IMAGE:$GITHUB_SHA" >> $GITHUB_ENV
          echo "LOG_OUTPUT_IMAGE_LATEST_TAG=$DOCKER_HUB_USERNAME/$LOG_OUTPUT_IMAGE:latest" >> $GITHUB_ENV

      - name : 'Form ping-pong image name'
        run: |
          echo "PING_PONG_IMAGE_TAG=$DOCKER_HUB_USERNAME/$PING_PONG_IMAGE:$GITHUB_SHA" >> $GITHUB_ENV
          echo "PING_PONG_IMAGE_LATEST_TAG=$DOCKER_HUB_USERNAME/$PING_PONG_IMAGE:latest" >> $GITHUB_ENV

      - name: 'Install log-output deps'
        run: npm ci
        working-directory: ./log-output/log-output

      - name: 'Install ping-pong deps'
        run: npm ci
        working-directory: ./log-output/ping-pong

      - name: Build log-output image
        run: docker build --tag $LOG_OUTPUT_IMAGE_TAG --tag LOG_OUTPUT_IMAGE_LATEST_TAG ./log-output/log-output

      - name: Publish log-output image
        run: |
          docker push $LOG_OUTPUT_IMAGE_TAG
          docker push $LOG_OUTPUT_IMAGE_LATEST_TAG

      - name: Build ping-pong image
        run: docker build --tag $PING_PONG_IMAGE_TAG --tag $PING_PONG_IMAGE_LATEST_TAG ./log-output/ping-pong

      - name: Publish ping-pong image
        run: |
          docker push $PING_PONG_IMAGE_TAG
          docker push $PING_PONG_IMAGE_LATEST_TAG

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2.1.0

      - name: Deploy log-output and ping-pong
        working-directory: ./log-output
        run: |-
          kustomize edit set image log-output=$LOG_OUTPUT_IMAGE_TAG
          kustomize edit set image ping-pong=$PING_PONG_IMAGE_TAG

      - name: commit kustomization.yaml to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          add: 'log-output/kustomization.yaml'
          message: New log-output version released ${{ github.sha }}
